.ant-modal {
  width: 100vw!important;
  padding: 0!important;
  max-width: unset!important;
}
.ant-modal-content {
  width: 100%;
  height: 100%; 
  border-radius: 0px!important;
}

.ant-modal-content .ant-modal-close {
    display: none;
}

.ant-modal-content .ant-modal-body {
  width: 100%;
  height: 100%; 
}